@import "../../styles/--scss-vars.scss";

.table-raw {
  height: fit-content;

  display: flex;
  align-items: center;
  padding: calc(var(--subdiv) * 4);

  &:first-child {
    > p {
      color: $color-d4-2;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid $color-d6;
  }

  > * {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      padding-right: calc(var(--subdiv) * 4);
    }
  }
  > *:nth-child(1) {
    width: 27%;
  }
  > *:nth-child(2) {
    width: 20%;
  }
  > *:nth-child(3) {
    width: 17%;
  }
  > *:nth-child(4) {
    width: 9%;
  }
  > *:nth-child(5) {
    width: 16%;
  }
  > *:nth-child(6) {
    width: 6%;
  }
  > .title-wrapper {
    > img {
      width: 11%;
      margin-right: calc(var(--subdiv) * 3);
    }
    > p {
      > span {
        color: $color-d4;
      }
    }
  }
  > .token-graph-wrapper {
    > svg {
      width: 62%;
    }
  }

  .action-button {
    padding: calc(var(--subdiv) * 1.5) calc(var(--subdiv) * 4);
    border-color: $color-d4-1;
  }
}
