@import '../../styles/--scss-vars.scss';

.token-wrapper{
    height: fit-content;
    width: 100%;
    padding-top: calc(var(--baseline) * 3 + var(--subdiv) * 2);
    position: relative;
    overflow: hidden;

    > .bg{
        @include position(absolute, 0,unset,unset,unset);
        width: 100%;
    }
    > section{
        position: relative;
    }

    @import "./sections/section-1.scss";
    @import "./sections/section-2.scss";
    @import "./sections/section-3.scss";
    @import "./sections/section-4.scss";
}