@import "--scss-vars.scss", "--css-vars.scss", "--css-global-styles.scss",
  "--reset.scss", "./components/tooltip.scss", "./components/text-pairs.scss";

#__bs_script__ {
  display: none;
}
img {
  pointer-events: none;
}
body {
  height: 100%;
  width: 100%;
  //pseudo adaptation;
  // min-width: $brake2-2 * 1.25;

  > #root {
    height: 100%;
    width: 100%;

    > .main-wrapper {
      height: 100%;
    }
  }
  @media only screen and (min-width: 1600px) {
    // zoom: 80%;
    // -moz-transform: scale(0.8);
    // -moz-transform-origin: 50% 0;
  }
}
