@import "../../styles/--scss-vars.scss";

.subscribe-wrapper {
  height: fit-content;
  padding: calc(var(--baseline) * 5) 0;
  position: relative;

  > .bg {
    @include position(absolute, 0, unset, unset, 0);
    height: 100%;
    width: 100%;
  }
  > .content-wrapper {
    position: relative;
    display: flex;
    max-width: 1278px;
    margin: auto;

    > .left-column {
      margin-right: calc(var(--baseline) * 2);

      .title {
        @include title3();
        font-weight: 600;
        color: $color-w0;
        margin-bottom: calc(var(--baseline));
      }

      .text {
        @include content-title();
        color: #dadada;
      }
    }

    > .right-column {
      flex-basis: 60%;
      margin: 0;
    }
  }
}
