@import "../../styles/--scss-vars.scss";

.feature-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--baseline) * 2 + var(--subdiv));

  > .image-wrapper {
    height: 80px;

    text-align: right;
    img {
      margin: 0 calc(var(--baseline) * 2);
      width: 82px;
      height: 82px;
    }
  }

  display: flex;
  text-align: left;

  > .text-wrapper {
    max-width: 273px;

    > .title {
      @include content-title();
    }

    > .text {
      @include content-paragraph();
      margin-top: calc(var(--subdiv) * 3);
      color: $color-d4;
    }
  }
}
