@import '../../styles/--scss-vars.scss';

.signIn-wrapper{
    height: 100%;
    width: 100%;
    background-color: $color-b0-2;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    > .header{
        $side-padding: calc(var(--baseline) * 10 - var(--subdiv));
    
        height: calc(var(--baseline) * 4);
        width: 100%;
        display: flex;
        align-items: center;
        -webkit-user-select: none;
        user-select: none;
        position: fixed;
    
        > a{
            @include position(absolute, unset,unset,unset,$side-padding);
            width: 9%;
    
            > .logo-wrapper{
                height: fit-content;
                width: 100%;
                display: flex;
                flex-shrink: 0;
    
                > p{
                    height: fit-content;
                    margin: auto;
                    @include logo-text();
                    cursor: pointer;
                    color: $color-w0;
                }
                > .image-wrapper{
                    width: 28%;
                    margin-right: calc(var(--subdiv) * 2);
                    position: relative;
    
                    > img{
                        @include position(absolute, 0,unset,unset,0);
                        width: 100%;
                    }
                    &:after{
                        content: "";
                        display: block;
                        padding-top: 100%
                    }
                }
            }
        }
        > .buttons-wrapper{
            width: fit-content;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            @include position(absolute, unset,$side-padding,unset,unset);
    
            > *{
                margin-right: calc(var(--subdiv) * 4);
            }
            > a{
                cursor: pointer;

                > p{
                    @include light-text();
                    color: $color-w0;
                    pointer-events: none;
                }
                &:hover{
                    > p{
                        color: rgba($color-w0, 0.7);
                    }
                }
            }
            > input{
                display: none;

                &:checked{
                    ~ label:after{
                        transform: translateY(-1.5px) rotate(180deg);
                    }
                }
            }
            > label{
                cursor: pointer;
                display: flex;
                align-items: center;

                > p{
                    @include light-text();
                    color: $color-w0;
                    pointer-events: none;
                }
                &:after{
                    content: "";
                    display: block;
                    width: 0px;
                    height: 0px;
                    border-color: $color-w0 transparent transparent transparent;
                    border-width: 3px;
                    border-style: solid;
                    margin-left: var(--subdiv);
                    transform: translateY(1.5px) rotate(0);
                }
                &:hover{
                    > p{
                        color: rgba($color-w0, 0.7);
                    }
                    &:after{
                        border-top-color: rgba($color-w0, 0.7);;
                    }
                }
            }
            .button-wrapper{
                border-color: $color-w0;

                > p{
                    color: $color-w0;
                }
                &:hover{
                    background-color: $color-w0;

                    > p{
                        color: $color-b0;
                    }
                }
            }
        }
    }
    > .content-wrapper{
        height: 100%;
        width: 100%;
        padding-top: calc(var(--baseline) * 3 + var(--subdiv) * 2);
        display: flex;
        justify-content: center;
        align-items: center;

        > .form-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;

            > h3{
                @include logo-text();
                font-weight: 500;
                color: $color-w0;
                margin-bottom: calc(var(--baseline) + var(--subdiv) * 2);
            }
            > .form{
                width: 100%;
                max-width: calc(var(--baseline) * 12 + var(--subdiv) * 4);
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $color-w0;
                border-radius: 5px;
                box-shadow: 0px 0px 30px -10px rgba($color-d0, 0.2);
                padding: calc(var(--baseline) + var(--subdiv) * 2) calc(var(--subdiv) * 10);

                > .logo{
                    height: fit-content;
                    width: 46.5%;
                    display: flex;
                    flex-shrink: 0;
                    margin-bottom: calc(var(--baseline) + var(--subdiv));
                    pointer-events: none;
                    -webkit-user-select: none;
                    user-select: none;
        
                    > p{
                        height: fit-content;
                        margin: auto;
                        @include logo-text();
                        color: $color-d0;
                    }
                    > .image-wrapper{
                        width: 28%;
                        margin-right: calc(var(--subdiv) * 2);
                        position: relative;
        
                        > img{
                            @include position(absolute, 0,unset,unset,0);
                            width: 100%;
                        }
                        &:after{
                            content: "";
                            display: block;
                            padding-top: 100%
                        }
                    }
                }
                > .input-wrapper{
                    margin-bottom: calc(var(--subdiv) * 2);
                }
                > .agreement{
                    margin: calc(var(--subdiv) * 2) 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    input[type="checkbox"]{
                        display: none;

                        &:checked{
                            ~ .label-wrapper{
                                > .checkmark{
                                    background-color: $color-a0;
                                    border-color: transparent;

                                    > svg{
                                        .check{
                                            stroke: $color-w0;
                                        }
                                    }
                                }
                                > p{
                                    color: $color-a0;
                                }
                                &:hover{
                                    > .checkmark{
                                        background-color: $color-a0-2;
                                    }
                                    > p{
                                        color: $color-a0-2;
                                    }
                                }
                            }
                        }
                    }
                    > .label-wrapper{
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        > .checkmark{
                            height: fit-content;
                            width: 6%;
                            flex-shrink: 0;
                            margin-right: calc(var(--subdiv) * 2);
                            padding: 3px;
                            background-color: $color-w0;
                            border: 1px solid $color-d3;
                            border-radius: 100%;

                            > svg{
                                width: 100%;
                                display: block;

                                .check{
                                    stroke: transparent;
                                }
                            }
                        }
                        > p{
                            @include input-text();
                            color: $color-d0;
                            pointer-events: none;
                            -webkit-user-select: none;
                            user-select: none;
                        }
                        &:hover{
                            > .checkmark{
                                > svg{
                                    .check{
                                        stroke: $color-d3;
                                    }
                                }
                            }
                            > p{
                                color: $color-d3;
                            }
                        }
                    }
                    > p{
                        @include input-text();
                        color: $color-d4;
                        cursor: default;
                        -webkit-user-select: none;
                        user-select: none;
                        flex-shrink: 0;

                        > a{
                            cursor: pointer;
                            color: $color-d0;

                            &:hover{
                                color: $color-d3;
                            }
                        }
                    }
                }
                > .button-wrapper{
                    margin-top: calc(var(--subdiv) * 4);
                }
                > .help{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: calc(var(--subdiv) * 5);
                    -webkit-user-select: none;
                    user-select: none;

                    > a{
                        cursor: pointer;

                        > p{
                            @include input-text();
                            color: $color-d4;
                            pointer-events: none;
                        }
                        &:hover{
                            > p{
                                color: $color-d2;
                            }
                        }
                    }
                    > .divider{
                        height: calc(var(--subdiv) * 3);
                        width: 1px;
                        margin: 0 calc(var(--subdiv) * 2);
                        background-color: $color-d4;
                    }
                }
            }
            > a{
                margin-top: calc(var(--baseline));
                cursor: pointer;

                > p{
                    @include input-text();
                    color: $color-w0;
                    pointer-events: none;
                    -webkit-user-select: none;
                    user-select: none;
                }
                &:hover{
                    > p{
                        color: rgba($color-w0, 0.7);
                    }
                }
            }
        }
    }
}