@import "../../styles/--scss-vars.scss";

.table {
  // height: fit-content;
  @include block;
  width: 100%;
  max-width: calc(var(--baseline) * 51 + var(--subdiv) * 2);
  display: flex;
  flex-direction: column;
  background-color: $color-w0;
  overflow: hidden;
  margin: auto;
  padding: calc(var(--subdiv) * 4) calc(var(--baseline) * 2);

  > .header {
    $padding: calc(var(--subdiv) * 6);
    padding-top: $padding;
    padding-bottom: $padding;
    -webkit-user-select: none;
    user-select: none;
  }
}
