@import "../../styles/--scss-vars.scss";

.wrapper {
  display: flex;
  align-items: center;
  margin-top: calc(var(--baseline) + var(--subdiv) * 2);

  .get-started-button {
    border-radius: $input-rounding;
    margin-left: calc(var(--subdiv) * 2);
    padding: calc(var(--subdiv) * 4) calc(var(--subdiv) * 6);
  }
}
