#section-top {
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  > .title1 {
    margin-top: calc(var(--baseline) * 4 + var(--subdiv));
    text-align: center;
    font-size: 48px;
  }
  > .sub-title1 {
    margin-top: calc(var(--subdiv) * 2);
    text-align: center;
    color: $color-d4;
  }
}
