#section-mining-platform {
  height: fit-content;
  width: calc(100% - calc(var(--baseline) * 12));
  display: flex;
  padding: 0 calc(var(--baseline) * 6);
  z-index: 1;
  background-color: #fbfafb;

  > .content-wrapper {
    @include block;
    margin: auto;
    text-align: center;

    > h1 {
      margin: calc(var(--baseline) * 2 + var(--subdiv)) auto var(--baseline);
      max-width: 730px;
    }

    > .title2,
    > .light-text {
      text-align: center;
    }
    > .features-wrapper {
      display: flex;
      margin-top: calc(var(--baseline) * 2 + var(--subdiv));

      > .left-side {
        height: fit-content;
        width: 50%;

        > .feature-wrapper {
          margin: 0 calc(var(--baseline) * 4) calc(var(--subdiv) * 5) 37%;
        }
      }
      > .right-side {
        height: fit-content;
        width: 40%;
        position: relative;

        > img:first-of-type {
          @include position(absolute, -5%, unset, unset, 22%);
          width: 90%;
          z-index: 2;
        }
        > img:last-of-type {
          @include position(absolute, 5%, unset, unset, 51%);
          width: 80%;
          z-index: 1;
        }
        &:after {
          content: "";
          display: block;
          padding-top: 83%;
        }
      }
    }
  }
}
