#section-earn-hash-power {
  display: flex;
  @include full-height-block();

  > .bg {
    @include position(absolute, 0, unset, unset, unset);
    width: 100%;
    // max-height: $background-max-height;
    @include full-height-block();

    @media screen and (min-width: 1200px) {
      height: calc(100vh + 24%);
    }

    @media screen and (max-device-width: 480px) {
      height: 1160px;
    }
  }

  > .card {
    position: relative;
    display: flex;

    > .text-wrapper {
      display: flex;
      width: 40%;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      justify-content: flex-end;
      padding-right: calc(var(--baseline) * 3);
      //
      h1 {
        margin: calc(var(--baseline)) 0;
      }

      > .text {
        margin: unset;
        padding: unset;
        // padding-left: calc(var(--subdiv) * 5);
        // margin-left: calc(var(--baseline) * 3);
        max-width: 380px;

        &:first-of-type {
          margin-bottom: calc(var(--subdiv) * 3);
        }
      }

      > .get-started-button {
        margin-top: calc(var(--subdiv) * 2);
        padding: calc(var(--subdiv) * 3) calc(var(--subdiv) * 4);
      }
    }
    > .illustrations-wrapper {
      width: 60%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: left;
      // margin: calc(var(--baseline) * 6 + var(--subdiv) * 2) 0;

      > img:first-of-type {
        position: absolute;
        top: 50px;
      }
      > img:last-of-type {
        margin-top: 150px;
        margin-left: 100px;
        // margin-right: 1000px;
        // @include position(absolute, -3%, unset, unset, 0%);
        // width: 80%;
      }
    }
  }
}
