#section-mobile-app {
  display: flex;
  position: relative;
  z-index: 2;
  background-color: #1de9b6;
  @include full-height-block();

  > .bg {
    @include position(absolute, 0, unset, unset, unset);
    width: 100%;
    max-height: $background-max-height;
    height: 100vh;
  }

  > .card {
    > .text-wrapper {
      margin: 0 calc(var(--baseline) * 5) calc(var(--subdiv) * 8)
        calc(var(--baseline) + var(--subdiv) * 5);
      color: $color-d0;

      > .link {
        display: flex;

        > a {
          margin: var(--baseline) calc(var(--subdiv) * 2) 0 0;
        }
      }
    }
    > .illustrations-wrapper {
      width: 60%;
      position: relative;
      margin: calc(var(--baseline) * 6 + var(--subdiv) * 2) 0;

      > img:first-of-type {
        @include position(absolute, -6%, unset, unset, 14%);
      }
      > img:last-of-type {
        @include position(absolute, 37%, unset, unset, 29%);
      }
      &:after {
        content: "";
        display: block;
        padding-top: 62%;
      }
    }
  }
}
