#section-mobile-app {
  height: fit-content;
  position: relative;
  z-index: 2;
  background-color: #1de9b6;
  // overflow: hidden;

  > .bg {
    @include position(absolute, 0, unset, unset, unset);
    width: 100%;
    max-height: $top-bg-height;
    height: 840px;
  }

  > .card {
    > .text-wrapper {
      padding-right: 4%;
      margin: 0 calc(var(--baseline) * 5) calc(var(--subdiv) * 8);

      > .link {
        display: flex;
        margin-top: var(--baseline);

        > a {
          width: 45%;

          > img {
            width: 100%;
          }
        }
      }
    }
    > .illustrations-wrapper {
      width: 50%;
      position: relative;
      margin: calc(var(--baseline) * 6 + var(--subdiv) * 2) 0;

      > img:first-of-type {
        @include position(absolute, 0%, 42%, unset, unset);
        width: 33%;
      }
      > img:last-of-type {
        @include position(absolute, 44%, 0%, unset, unset);
        width: 58%;
      }
      &:after {
        content: "";
        display: block;
        padding-top: 62%;
      }
    }
  }
}
