#section-founders-token {
  height: fit-content;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: calc(var(--baseline) * 4);
  background: linear-gradient(206deg, #fff 37%, #fcfbfc 53%);

  > .bg {
    @include position(absolute, unset, unset, 0, unset);
    width: 100%;
    height: 1505px;
  }
  > .offer-wrapper {
    width: 100%;
    max-width: $brake2-2;
    margin: auto;
    margin-top: calc(var(--baseline) * 4);
    position: relative;

    > .sub-title {
      @include light-text();
      color: $color-d4;
      text-align: center;
      margin-bottom: calc(var(--baseline));
      font-size: 24px;
    }

    > .title {
      @include title1();
      text-align: center;
    }

    > .content-wrapper {
      display: flex;
      align-items: center;
      margin: calc(var(--baseline) + var(--subdiv) * 3)
        calc(var(--baseline) * 4) calc(var(--baseline) * 4);

      > .left-column {
        flex-basis: 54%;
        padding-right: calc(var(--baseline) * 4);

        > .text {
          @include content-paragraph();
          line-height: 1.8em;

          &:last-of-type {
            margin-top: var(--baseline);
          }
        }
      }

      > .right-column {
        position: relative;
        flex-basis: 50%;
        padding-left: calc(var(--baseline) * 3 + var(--subdiv) * 4);
        border-left: 1px solid lightgray;

        > .list {
          > li {
            display: flex;
            margin-bottom: calc(var(--subdiv) + 1px);

            > p {
              @include content-paragraph();
              flex-shrink: 0;
            }
            > hr {
              width: 100%;
              height: 1px;
              align-self: flex-end;
              // transform: translateY(300%);
              // display: block;
              margin: 8px;
              border: none;
              border-bottom: 1px dashed $color-d4;
            }
          }
        }
      }
    }
  }

  > .become-founder {
    @include block;
    margin: auto;
    position: relative;
    height: 387px;
    display: flex;
    align-items: center;

    > .bg {
      @include position(absolute, unset, unset, 0, unset);
      width: 100%;
      height: 387px;
    }

    > .content-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;

      .left {
        margin-right: calc(var(--baseline) * 11);

        > .buy-now-button {
          font-size: 15px;
          padding: calc(var(--subdiv) * 2) calc(var(--subdiv) * 5 + 2px);
        }
      }

      .right {
        margin-right: calc(var(--baseline));
      }

      .title {
        @include title1();
      }

      .text {
        @include content-paragraph();
        margin: calc(var(--subdiv)) 0 calc(var(--baseline));
        color: $color-d4-4;
      }
    }
  }

  > .features-wrapper {
    width: 100%;
    max-width: $brake2-2;
    margin: auto;
    margin-top: calc(var(--baseline) * 2 + var(--subdiv) * 2);
    display: flex;
    justify-content: space-around;
    position: relative;

    > .feature-v2-wrapper {
      width: 25%;

      .icon {
        align-items: flex-end;

        img {
          height: 90px;
        }
      }
    }
  }
}
