#section-mining-platform {
  height: fit-content;
  width: calc(100% - calc(var(--baseline) * 12));
  display: flex;
  padding: 0 calc(var(--baseline) * 6);
  z-index: 1;
  background-color: #fbfafb;

  > .content-wrapper {
    @include block;
    margin: auto;
    text-align: center;
    padding-bottom: calc(var(--baseline) * 4);
    margin-bottom: calc(var(--baseline) * -2.5);
    background-color: #fff;
    text-align: center;

    > h1 {
      margin: calc(var(--baseline) * 3 + var(--subdiv) * 8) auto var(--baseline);
      max-width: 730px;
    }

    > .light-text {
      margin: calc(var(--subdiv) * 6) 0 calc(var(--subdiv) * 20);
    }

    > .features-wrapper {
      display: flex;
      margin-top: calc(var(--baseline) * 2 + var(--subdiv));

      > .left-side {
        height: fit-content;
        width: 50%;
        padding-right: calc(var(--subdiv));
        box-sizing: border-box;

        .simple-intuitive-icon {
          width: 93px;
        }
      }
      > .right-side {
        height: fit-content;
        width: 55%;
        position: relative;

        > img:first-of-type {
          @include position(absolute, -9%, unset, unset, 1%);
          width: 89%;
          z-index: 2;
        }
        > img:last-of-type {
          @include position(absolute, unset, unset, unset, 38%);
          width: 74%;
          z-index: 1;
        }
        &:after {
          content: "";
          display: block;
          padding-top: 83%;
        }
      }
    }
  }
}
