#section-founders-token {
  height: fit-content;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: calc(var(--baseline) * 4);
  background: linear-gradient(214deg, #fff 11%, #fcfbfc 100%);

  > .bg {
    @include position(absolute, unset, unset, 0, unset);
    width: 100%;
    height: 1505px;
  }
  > .table-wrapper {
    width: 100%;
    max-width: $brake2-2;
    margin: auto;
    margin-top: calc(var(--baseline) * 7);
    display: flex;
    align-items: center;
    position: relative;

    > .right-column {
      width: calc(65% - 1px);
      position: relative;
      padding: 0 0 calc(var(--baseline) * 2 + var(--subdiv) * 3)
        calc(var(--baseline) * 2 + var(--subdiv) * 3);

      > .sub-title {
        @include light-text();
        color: $color-d4;
        @include position(absolute, 0, unset, unset, unset);
        transform: translateY(-100%);
      }
      > .title {
        @include title2();
      }
      > .text {
        @include content-paragraph();
        color: $color-d4;

        &:first-of-type {
          margin-top: var(--baseline);
        }
        &:last-of-type {
          margin-top: calc(var(--subdiv) * 3);
        }
      }
      > .list {
        width: calc(100% - var(--subdiv) * 8);
        border: 1px solid $color-d5;
        margin-top: calc(var(--baseline) + var(--subdiv));
        padding: calc(var(--subdiv) * 4);

        > li {
          display: flex;
          margin-bottom: calc(var(--subdiv) * 2);

          > p {
            @include small-text();
            flex-shrink: 0;
            color: $color-d4;
          }
          > span {
            width: 100%;
            height: 1px;
            align-self: center;
            transform: translateY(300%);
            display: block;
            background-image: linear-gradient(
              to right,
              $color-d5 4px,
              transparent 2px
            );
            background-repeat: repeat;
            background-size: 6px;
            margin: 0 var(--baseline);
          }
        }
      }
    }
  }

  > .become-founder {
    @include block;
    margin: auto;
    position: relative;
    height: 387px;
    display: flex;
    align-items: center;

    > .bg {
      @include position(absolute, unset, unset, 0, unset);
      width: 100%;
      height: 387px;
    }

    > .content-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;

      .left {
        margin-right: calc(var(--baseline) * 11);
      }

      .right {
        margin-right: calc(var(--baseline));
      }

      .title {
        @include title1();
      }

      .text {
        @include content-paragraph();
        margin: calc(var(--subdiv)) 0 calc(var(--baseline));
      }
    }
  }

  > .features-wrapper {
    width: 100%;
    max-width: $brake2-2;
    margin: auto;
    margin-top: calc(var(--baseline) * 2 + var(--subdiv) * 2);
    display: flex;
    justify-content: space-around;
    position: relative;

    > .feature-v2-wrapper {
      width: 25%;
    }
  }
}
