#section-arcade-mining {
  height: fit-content;
  position: relative;
  z-index: 0;
  padding-top: 70px;
  background-color: $color-d0-8;

  > .bg {
    @include position(absolute, 150, unset, unset, unset);
    width: 100%;
    max-height: $background-max-height;
    height: 1229px;
  }
  > .card {
    height: 1130px;

    > .text-wrapper {
      width: 50%;
      padding-right: 4%;
      margin: 0 calc(var(--baseline) * 3) calc(var(--baseline) * 4)
        calc(var(--baseline) * 3 + var(--subdiv) * 4);
      max-width: 380px;

      > .get-started-button {
        background: linear-gradient(to bottom, #3e4185 0%, #7521df 100%);
        margin-top: calc(var(--baseline));
        padding: calc(var(--subdiv) * 3) calc(var(--baseline));

        &:hover {
          background: #7521df;
        }
      }

      > .title,
      > .text {
        color: $color-d0-4;

        &::selection,
        > *::selection {
          background-color: rgba($color-w0, 0.25);
        }
      }
      > .logo {
        width: 60%;
        margin: auto;
        margin-bottom: var(--baseline);

        > img {
          display: block;
          width: 60%;
        }
      }
      > .title {
        background: linear-gradient(to bottom, #606ea3 0%, #4e4376 32%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        @include title3();

        > .trademark {
          text-transform: lowercase;
          @include content-paragraph2();
          font-size: var(--font-size5);
          margin: var(--subdiv);
        }

        > span:first-child {
          font-size: $font-size9;
          white-space: nowrap;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        > span:last-child {
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .text {
        display: inline-block;
        background: linear-gradient(to bottom, #515490 0%, #7521df 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        // mix-blend-mode: screen;

        > span:nth-child(3n) {
          display: block;
          margin-bottom: calc(var(--subdiv) * 3);
        }
      }
      > .link {
        @include content-paragraph2();
        font-weight: 500;
        margin-top: calc(var(--subdiv) * 4);
        -webkit-user-select: none;
        user-select: none;

        > a {
          display: flex;
          align-items: center;

          &:after {
            content: "";
            display: block;
            height: 6px;
            width: 6px;
            transform: rotate(45deg);
            border-top: 2px solid #353460;
            border-right: 2px solid #353460;
            margin-top: 1px;
            margin-left: calc(var(--subdiv) * 2);
          }
        }
      }
    }
    > .illustrations-wrapper {
      width: 60%;
      position: relative;
      margin: calc(var(--baseline) * 6 + var(--subdiv) * 2) 0;

      > img:nth-of-type(1) {
        @include position(absolute, 0%, unset, unset, 18%);
        width: 60%;
      }
      > img:nth-of-type(2) {
        @include position(absolute, 37%, 0%, unset, unset);
        width: 57%;
      }
      &:after {
        content: "";
        display: block;
        padding-top: 81%;
      }
    }
  }
}
