#section-mobile-app {
  display: flex;
  position: relative;
  z-index: 2;
  background-color: #1de9b6;
  @include full-height-block();

  > .bg {
    @include position(absolute, 0, unset, unset, unset);
    width: 100%;
    // max-height: $background-max-height;
    height: 100vh;

    @media screen and (min-width: 1200px) {
      height: calc(100vh + 24%);
    }

    @media screen and (max-device-width: 480px) {
      height: 1130px;
    }
  }

  > .card {
    > .text-wrapper {
      max-width: 380px;
      color: $color-d0;

      > .link {
        display: flex;

        > a {
          margin: var(--baseline) calc(var(--subdiv) * 2) 0 0;
        }
      }
    }
    > .illustrations-wrapper {
      width: 59%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: calc(var(--baseline) * 3);

      // margin: calc(var(--baseline) * 6 + var(--subdiv) * 2) 0;

      > img:last-of-type {
        margin-left: -164px;
        margin-top: 192px;
      }
    }
  }
}
