#section-most-accessible {
  height: fit-content;
  background: linear-gradient(180deg, #ffffff, #fbfafb);
  // width: calc(100% - calc(var(--baseline) * 12));
  // display: flex;
  // background-image: url("BG-top.png"); // padding: 0 calc(var(--baseline) * 6);

  > .bg {
    @include position(absolute, 0, unset, unset, unset);
    width: 100%;
    max-height: $background-max-height;
  }

  > .content-wrapper {
    padding: calc(var(--baseline) * 8 + var(--subdiv) * 5) 0
      calc(var(--baseline) * 6);
    margin: auto;
    width: calc(100% - calc(var(--baseline) * 12));
    text-align: center;

    > .caption-wrapper {
      max-width: 730px;
      margin: auto;

      > h2 {
        margin-top: var(--baseline);
      }
    }

    > .features-wrapper {
      display: flex;
      justify-content: center;
      margin: calc(var(--baseline) * 3 + var(--subdiv) * 2) auto 0;
      max-width: $content-max-width;

      > .feature-v2-wrapper {
        margin: 0 calc(var(--baseline) + var(--subdiv) * 4);
      }
    }
  }

  // > .card {
  //   text-align: center;

  //   > .content-wrapper {
  //     justify-content: center;
  //     margin-top: calc(var(--baseline) * 3 + var(--subdiv) * 2);

  //     > .feature-v2-wrapper {
  //       margin: 0 calc(var(--baseline) + var(--subdiv) * 4);
  //     }
  //   }
  // }
}
