$brake1: 3000px;
$brake1-1: 2000px; //max-width of cards in huge-suze screens

$brake2: 1920px; //FullHD
$brake2-1: 1500px; //Default
$brake2-2: 1300px; //Header max desctop width, coz have best min video width

$brake3: 1024px; //iPadPro
$brake3-1: 868px; //For main menu at header section

$brake4: 768px; //iPad
$brake4-1: 500px; //For title1 styles in this resolution

$brake5: 450px; //Mobile

$brake-end: 0px;