$color-d0: #333a56;
$color-w0: #fff;
$color-a0: #8dcc4e;
$color-b0: #424c74;
$color-c0: #cc4e4e;
$opacity-ratio: 1.15;
$opacity0: 0.95;
$opacity1: 0.82609;
$opacity2: 0.71834;
$opacity3: 0.62464;
$opacity4: 0.54317;
$opacity5: 0.47232;
$opacity6: 0.41071;
$opacity7: 0.35714;
$opacity8: 0.31056;
$opacity9: 0.13502;
$color-d0-4: #1f2334;
$color-d0-3: #292e45;
$color-d0-2: #2e344d;
$color-d0-1: #303752;
$color-d1: #3d445e;
$color-d2: #474e67;
$color-d3: #5c6178;
$color-d4: #85899a;
$color-d4-1: #c7c7c7;
$color-d4-2: #b9b9b9;
$color-d5: #ccced5;
$color-d6: #f1f1f3;
$color-d7: #f9f9fa;
$color-a0-4: #557a2f;
$color-a0-3: #71a33e;
$color-a0-2: #7fb846;
$color-a0-1: #86c24a;
$color-a1: #93cf57;
$color-a2: #98d160;
$color-a3: #a4d671;
$color-a4: #bbe095;
$color-a5: #e3f2d3;
$color-a6: #f7fbf3;
$color-a7: #fcfdfa;
$color-b0-4: #282e46;
$color-b0-3: #353d5d;
$color-b0-2: #3b4468;
$color-b0-1: #3f486e;
$color-b1: #4b557b;
$color-b2: #555e82;
$color-b3: #687090;
$color-b4: #8e94ac;
$color-b5: #d0d2dc;
$color-b6: #f2f2f5;
$color-b7: #f9fafb;
