@font-face {
  font-family: "CodecCold-Regular";
  src: url("assets/fonts/CodecCold-Regular.woff") format("woff");
}

@font-face {
  font-family: "CodecCold-Thin";
  src: url("assets/fonts/CodecCold-Thin.woff") format("woff");
}
@font-face {
  font-family: "CodecCold-Bold";
  src: url("assets/fonts/CodecCold-Bold.woff") format("woff");
}
@font-face {
  font-family: "CodecCold-News";
  src: url("assets/fonts/CodecCold-News.woff") format("woff");
}
