$columns: 12;

$font-base: 14px;
$line-heigh: 1.7;
$baseline: 27px;
$subdiv-divider: 5;
$subdiv: 5px;
$column-mulipler: 10;
$column-width: 50px;
$gutter-multipler: 5;
$gutter: 25px;
$column1: 50px;
$column2: 125px;
$column3: 200px;
$column4: 275px;
$column5: 350px;
$column6: 425px;
$column7: 500px;
$column8: 575px;
$column9: 650px;
$column10: 725px;
$column11: 800px;
$column12: 875px;


//Css Vars in reset-component.scss