// @import "../grid.scss";
$font-ratio: 1.2;
$font-size1: 12px;
$font-size2: 14px;
$font-size3: 16px;
$font-size4: 19px;
$font-size5: 23px;
$font-size6: 28px;
$font-size7: 34px;
$font-size8: 41px;
$font-size9: 49px;
$font-size10: 59px;
$font-size11: 71px;
$font-size12: 85px;
$font-size13: 102px;
$font-size14: 122px;
$font-size15: 146px;
$font-size16: 175px;
$font-size17: 210px;
$font-size18: 252px;