@import "../../styles/--scss-vars.scss";

.footer-wrapper {
  background-color: $color-do-5;
  display: flex;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;

  > .inner-wrapper {
    @include nav-wrapper();
    padding: calc(var(--baseline) * 3) 0;
    height: calc(var(--baseline) * 11);

    p,
    h1,
    li {
      color: $color-w0;
    }
    > .left-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > .logo-wrapper {
        display: flex;
        align-items: center;

        > img {
          width: 32%;
          margin-right: calc(var(--subdiv) * 3);
        }
        > .logo-text {
          font-weight: 500;
          line-height: 100%;
          @include title2();
          font-size: var(--font-size5);
        }
      }
      > .copyright {
        @include footer-text();
        margin-top: var(--baseline);
      }
    }
    > .right-wrapper {
      display: flex;
      padding-top: calc(var(--subdiv) * 2);

      > ul {
        display: flex;
        flex-direction: column;
        margin-left: calc(var(--baseline) * 5 + var(--subdiv));

        > .header {
          @include footer-title();
          margin-bottom: calc(var(--subdiv) * 4);
        }
        li {
          @include footer-text();
          margin-bottom: calc(var(--subdiv) * 3);
        }
        &:not(.social) {
          li:not(.header) {
            cursor: pointer;
            white-space: nowrap;

            &:hover {
              color: $color-d5;
            }
          }
        }
        &.social {
          li {
            display: flex;
            align-items: center;

            > .social-item {
              margin-right: var(--baseline);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
