@import "../../styles/--scss-vars.scss";

.price-wrapper {
  > p {
    margin-right: calc(var(--subdiv) * 2);
  }
  > .difference-wrapper {
    $arrow-size: var(--subdiv);

    display: flex;
    align-items: center;

    > .arrow {
      height: 0px;
      width: 0px;
      border-style: solid;
      border-width: $arrow-size;
    }
    > p {
      margin-left: 3px;
    }
    &.positive {
      > .arrow {
        border-color: transparent transparent $color-a0 transparent;
        transform: translateY(calc(#{$arrow-size} / -2));
      }
      > p {
        color: $color-a0;
      }
    }
    &.negative {
      > .arrow {
        border-color: $color-c0 transparent transparent transparent;
        transform: translateY(calc(#{$arrow-size} / 2));
      }
      > p {
        color: $color-c0;
      }
    }
  }
}

.row-preview {
  // height: fit-content;
  width: 100%;
  max-width: calc(var(--baseline) * 16 + var(--subdiv));
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: $color-d0;
  padding: calc(var(--subdiv) * 4) calc(var(--subdiv) * 6);
  overflow: hidden;
  box-shadow: 0px 0px 30px -10px rgba($color-d0, 0.2);
  @include regular-text();

  p {
    color: $color-w0;

    > span {
      color: $color-d4;
    }
  }
  > div {
    height: fit-content;
    display: flex;
    align-items: center;
  }
  > .title-wrapper,
  > .price-wrapper {
    padding-right: calc(var(--subdiv) * 4);
  }
  > .title-wrapper {
    width: 52%;

    > img {
      margin-right: calc(var(--subdiv) * 3);
    }
  }
  > .price-wrapper {
    width: 28%;
  }
  > .action-wrapper {
    width: fit-content;
  }
}
